node_modules/
.DS_Store
__MACOSX
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE
.idea/
.vscode/

# Docs hiding (Ignore everything in docs except START.md)
docs/*
!docs/START.md