<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"Start Template Hook"},"className":"sp-action-hook sp_hook_start_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity sp-action-hook sp_hook_start_template" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"header","tagName":"header","area":"header","className":"site-header","id":"masthead"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"Start Main Hook"},"className":"sp-action-hook sp_hook_start_main"} -->
<hr class="wp-block-separator has-alpha-channel-opacity sp-action-hook sp_hook_start_main" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"part-archive","tagName":"main","area":"uncategorized","className":"site-main main-archive"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"className":"sp-action-hook sp_hook_end_main"} -->
<hr class="wp-block-separator has-alpha-channel-opacity sp-action-hook sp_hook_end_main" id="sp_hook_end_main" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer","className":"site-footer","id":"colophon"} /-->

<!-- wp:separator {"lock":{"move":true,"remove":true},"metadata":{"name":"End Template Hook"},"className":"sp-action-hook sp_hook_end_template"} -->
<hr class="wp-block-separator has-alpha-channel-opacity sp-action-hook sp_hook_end_template" />
<!-- /wp:separator -->