<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main hfeed","layout":{"type":"default"},"metadata":{"name":"Site Main"}} -->
<main class="wp-block-group alignfull site-main hfeed">
    <!-- wp:template-part {"slug":"post-article","tagName":"article","area":"uncategorized","className":"hentry"} /-->

    <!-- wp:template-part {"slug":"post-comments","tagName":"section","area":"uncategorized","lock":{"move":false,"remove":false}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->